* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
body.index {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("sky2.jpg");
  background-position: center;
  background-size: cover;
}
body.home {
 background-image: none;
}

.site {
  margin: 83px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.form-sidepanel {
  background-color: #e5e5e5;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(66, 82, 124, 0.3);
  padding: 2rem 1rem;
  width: 24%;
  border-radius: 0 20px 20px 0;
}
@media (max-width: 560px) {
  .form-sidepanel {
    width: 100%;
    height: auto;
    border-radius: 0 0 20px 20px;
  }
}

.form-box {
  width: 380px;
  height: 610px;
  position: relative;
  padding: 5px;
  overflow: hidden;
  border-radius: 20px;
  background: rgb(32 38 64 / 46%);
  border-radius: 20px 0 0 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(66, 82, 124, 0.3);
}
.button-box {
  margin: 30px auto;
  position: relative;
  box-shadow: 0 0 20px rgb(32 38 64 / 46%);
  border-radius: 10px;
  width: 322px;
}
#formFile::-webkit-file-upload-button{
  background: linear-gradient(90deg, #33407a, #4453b8);
  border: none;
  
  color: whitesmoke;
  border-radius: 0px;
  cursor: pointer;
}


.toggle-btn {
  padding: 1.2rem 2rem;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  color: white;
}
#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 150px;
  height: 90%;
  background: linear-gradient(90deg, #33407a, #4453b8);
  border-radius: 24px;
  transition: 0.5s;
  text-align: center;
}
.input-items {
  position: absolute !important;
  width: 380px !important;
  transition: 0.5s;
  padding: 1rem 2rem;
}

.input-field {
  width: 100%;
  padding: 10px 10px;
  margin: 5px 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  border-radius: 12px;
  outline: none;
  background: rgb(154 153 155 / 28%);
  color: #fff;
}
.input-field::placeholder {
  color: #e5e5e5;
}

.submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: 20px;
  background: linear-gradient(90deg, #33407a, #4453b8);
  border: 0;
  outline: none;
  border-radius: 30px;
  color: whitesmoke;
  backdrop-filter: blur(0);
}
.submit-btn:hover {
  background: linear-gradient(45deg, #33407a, #4453b8);
  transform: translateY(-2px);
  transition: 0.2s;
}

.check-box {
  margin: 30px 10px 30px 0;
  font-size: 12px;
  color: #e5e5e5;
}

span {
  font-size: 12px;
  color: #e5e5e5;
  bottom: 70px;
}
#login {
  left: 0px;
}

#register {
  left: 450px;
}

a {
  text-decoration: none;
  color: #fff!important;
}
